@model ModernTricks.Models.USERS
@{if (Model != null)
    {
    <div id="expanderContent">
        <table class="table table-bordered table-hover">
            <tr>
                <td style='width: 10%; font-weight: bold' class='userTable'>
                    نام کاربری:
                </td>
                <td style='width: 28%' class='userTable'>
                    @Model.Username
                </td>

            </tr>
            <tr>
                <td style='font-weight: bold' class='userTable'>
                    ایمیل:
                </td>
                <td class='userTable'>
                    @Model.EMail
                </td>

                <td style='font-weight: bold' class='userTable'>
                    Inactive:
                </td>
                <td class='userTable'>
                    @Model.Inactive
                </td>
            </tr>

        </table>
    </div>
  }
}
