@model IEnumerable<Main.Models.Videos>
<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-sm-4">
            <div class="well text-center">
                <div class="h_iframe-aparat_embed_frame">
                    <span style="display: block;padding-top: 57%"></span><iframe src="http://www.aparat.com/video/video/embed/videohash/@item.Name/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                  
                </div>
                <a class="btn btn-success btnAddVideoToMyFav" name="@item.Title" id="@item.ID">افزودن به علاقمندی ها</a>
            </div>
        </div>
    }
</div>

<script>
    $(".btnAddVideoToMyFav").on('click', function (e) {
        e.preventDefault();
        $.ajax({

            method: "post",
            url: "/Favorites/AddToMyFav",
            data: { videosID: $(this).attr('id') }
        }).done(function (result) {

            notify('success', result.msg);
        }).error(function (result) {
            notify('error', result.responseJSON.msg);
            //window.location.href = "/Account/Login";
        });

    });

</script>



<style>
    .h_iframe-aparat_embed_frame {
        position: relative;
    }

        .h_iframe-aparat_embed_frame .ratio {
            display: block;
            width: 100%;
            height: auto;
        }

        .h_iframe-aparat_embed_frame iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
</style>