
@{

    Layout = "~/Features/Shared/_BSLayout.cshtml";
}


<div class="container">
    <h4>مدیریت ویدیوها </h4>
    <div class="col-sm-12">
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <table class="table table-bordered tblVideos"></table>
                </div>
            </div>
        </div>

    </div>

</div>
@section scripts
    {
    <script src="~/Scripts/asq.src.js"></script>
<script src="~/Scripts/Plugin/MyPlugin.js"></script>
    <script>

        function DataShowVideos() {

            return ASQ(function (done) {
                $.ajax({
                    url: "/Home/DataShowVideos",
                    type:"get",
                    data: {},
                    async: true

                }).done(function (Result) {
                    done(Result);
                });
            });
        }

        $(document).ready(function () {

            $("<p>salam</p>").main();
            $("<p>salam</p>").main();


            ASQ()
            .then(DataShowVideos())
            .then(function step1(done, VideosResult) {

                var htmVideos = "";


                htmVideos += "<tr>";
                htmVideos += "<th></th>";

                htmVideos += "<th>عنوان ویدیو</th>";
               
              
                htmVideos += "</tr>";
                for (var item in VideosResult)
                {
                    htmVideos += "<tr videoID='"+VideosResult[item].ID+"'>";
                    htmVideos += "<td>";
                    htmVideos += "<input type=button class='btn btn-danger btnDeleteVideo'  value='حذف'/></td>";
                    htmVideos += "<td >" + VideosResult[item].Title + "</td>";
                    htmVideos += "</tr>";
                }

                $(".tblVideos").html(htmVideos);

            })

        });


     
        $(document).on('click', ".btnDeleteVideo", function () {

            var id = $(this).closest('tr').attr('videoID');
            var $this = $(this)
            $.ajax({
                url: "/home/DeleteVideo",
                data: { id: id }

            }).done(function (result) {
                notify(result.state, result.msg);
                $this.closest('tr').fadeOut('slow');
            }).error(function (result) {
                notify('error', result.responseJSON.msg);

            });

        });
    </script>


}



